body{
    margin: 0 auto;
}

nav{
    background-color: #333;
    padding: 1px;
    position: fixed;
    width: 100%;
    top: 0px;
}

#logo-text{
    color: white;
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 20%;
    left: 2%;
}

nav ul{
    position: relative;
    text-align: right;
    right: 5%;
}

nav li{
    list-style: none;
    display: inline;
    padding: 0.5em;
}

nav a{
    color: white;
    text-decoration: none;
}

nav>a{
    position: absolute;
    top: 10%;
    right: 5%;
    font-size: 30px;
}

nav a:hover{
    color: #777;
}

.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
    text-align: justify;
}

.flex-item{
    width: 300px;
    padding: 1em;
}

@media only screen and (min-width:600px){
    #nav-toggle{
        display: none;
    }
}

@media screen and (max-width:600px){
    nav>ul>li>a{
        display: none;
    }
}