body{
    margin: 0 auto;
}

nav{
    background-color: #333;
    padding: 1px;
    position: fixed;
    width: 100%;
    top: 0px;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5em;
}

footer span{
    font-size: 12px;
    position: relative;
    right: 0.5%;
}

#logo-text{
    color: white;
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 25%;
    left: 2%;
}

nav ul{
    position: relative;
    text-align: right;
    right: 5%;
}

nav li{
    list-style: none;
    display: inline;
    padding: 0.5em;
}

nav a{
    color: white;
    text-decoration: none;
}

nav>a{
    position: absolute;
    top: 10%;
    right: 5%;
    font-size: 30px;
}

nav a:hover{
    color: #777;
}

.hero-unit{
    background-image:url('../images/hero_image.jpg');
    height: 600px;
    width: 1300px;
    margin-top: 40px;
}

.hero-head{
    text-align: center;
    position: relative;
    top: 40%;
    background: rgba(255,255,255,0.5);
    color: #444;
    width: 40%;
    margin: auto;
    padding: 2em;
}

.hero-head button{
    background: transparent;
    border: 1px solid #333;
    border-radius: 3px;
    padding: 0.5em;
    cursor: pointer;
}

button a{
    text-decoration: none;
    color: #333;
}

.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: justify;
}

.flex-item{
    width: 300px;
    padding: 1em;
}

.icons{
   padding-top: 15px;
}

.icons a{
    color: white;
    margin-right: 1em;
}

@media only screen and (min-width:600px){
    #nav-toggle{
        display: none;
    }
}

@media screen and (max-width:600px){
    nav>ul>li>a{
        display: none;
    }
}

@media screen and (min-height:700px){
    nav{
        background-color: rgba(255,255,255,0.5);
    }
}